{{ define "user" }}

<div class="flex flex-row h-16 w-full items-center rounded-xl border-2 px-4" hx-target-error="#user_error_{{ .ID }}"
  hx-indicator="#user_loading_{{ .ID }}" hx-target="this" hx-swap="outerHTML" hx-get="/admin/api/users/{{ .ID }}"
  onsubmit="" hx-trigger="user_saved_{{ .ID }} from:body">
  <span class="htmx-indicator" id="user_loading_{{ .ID }}">{{ template "loading" }}</span>
  <p class="{{ if .IsAdmin }} text-red-400 underline {{ end }} text-xl w-fit">
    {{ .Username }}
  </p>
  <p class="text-sm text-red-400" id="user_error_{{ .ID }}"></p>
  <div class="grow flex flex-row items-center justify-end gap-2" hx-target-error="user_error_{{ .ID }}"
    hx-indicator="#user_loading_{{ .ID }}">
    <button hx-get="/admin/api/users/{{ .ID }}/edit" hx-swap="outerHTML" hx-target="#add_edit_user_form"
      class="admin-submit" data-loading-disable>
      <p class="hidden lg:flex">Редактировать</p>
      <img class="block lg:hidden h-4 aspect-square" src="/static/edit.svg" alt="Редактировать" />
    </button>
    <button hx-delete="/admin/api/users/{{ .ID }}" hx-swap="outerHTML" class="admin-delete" data-loading-disable>
      <p class="hidden lg:flex">Удалить</p>
      <img class="block lg:hidden h-4 aspect-square" src="/static/delete.svg" alt="Удалить" />
    </button>
  </div>
</div>

{{ end }}
