package admin_templates 

import "github.com/w1png/htmx-template/utils"
import "github.com/w1png/htmx-template/templates"

templ Base(data utils.ResponseData) {
	@templates.Base(data) {
		@Navbar()
		{ children... }
	}
}
