{{ define "navbar" }}

<div class="fixed top-0 right-0 left-0 w-screen h-16 p-2 z-50">
  <div class="w-full h-full bg-gray-200 rounded-xl flex items-center justify-center gap-2"
    hx-target="#swappable_content" hx-boost="true" hx-swap="outerHTML transition:true">
    <a class="text-2xl hover:text-gray-600 underline" href="/api/index" hx-replace-url="/">
      Главная
    </a>
    <a class="text-2xl hover:text-gray-600 underline" href="/admin/api/users" hx-replace-url="/admin/users">
      Пользователи
    </a>
  </div>
</div>

{{ end }}
