{{ define "navbar" }}

<div class="fixed top-0 right-0 left-0 w-screen h-16 p-2 z-50">
  <div class="w-full h-full bg-gray-200 rounded-xl flex items-center justify-center gap-2"
    hx-target="#swappable_content" hx-swap="outerHTML transition:true" hx-boost="true">
    <a class="text-2xl hover:text-gray-600 underline" href="/api/index" hx-replace-url="/">
      Главная
    </a>
    {{ if .User }}
    <a class="text-2xl hover:text-gray-600 underline" href="/api/admin_login" hx-replace-url="/admin_login">
      Админ панель
    </a>
    {{ else }}
    <a class="text-2xl hover:text-gray-600 underline" href="/api/admin_login" hx-replace-url="/admin_login">
      Вход в админ панель
    </a>
    {{ end }}
  </div>
</div>

{{ end }}
